body {

 align-items: center;
      font-family: Comic Sans MS;
      background-color: #A020F0;
      margin: 0;
      padding: 20px;
	  color: white;
    }

    h1 {
      text-align: center;
      color: white;
    }

    div {


      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color:#4B0082;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    p {
      margin: 0 0 10px;
    }

    label {
      display: block;
      font-weight: bold;
    }

    input[type="number"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    button {
      padding: 8px 16px;
      background-color: #8B008B;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    button:hover {
      background-color: #8B008B;
    }

    #result {
      font-weight: bold;
      margin-bottom: 10px;
    }

    #score {
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;
      margin: 0;
    }

    li {
      list-style-type: none;
      margin-bottom: 5px;
    }
